body, html {
    min-height: 100%;
}
body{
    font-family: 'Times New Roman', Times, serif;
    background-image: url("../images/Lake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} 

/* instructions popup */

.popup .overlay {
    position: relative;
    top: 0px; 
    left: 0px; 
    width: 100vw;
    height: 100vh; 
    background: rgba(0,0,0,0.7);
    z-index: 1;
    display: none;
}

.popup .content{
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%) scale(0);
    background: linear-gradient(to bottom, #33ccff 0%, #0099ff 100%);
    color: white;
    width: 450px;
    height: 220px;
    z-index: 2;
    text-align: center;
    padding: 20px; 
    box-sizing: border-box;
}

.popup .close-button {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px; 
    width: 30px;
    height: 30px;
    background: white;
    color: gray; 
    font-size: 25px; 
    font-weight: 600; 
    line-height: 30px;
    text-align: center; 
    border-radius: 50%;
}

.popup.active .overlay {
    display: block;
}
.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

/* Title */ 

.titleContainer{
    display: flex;
    justify-content: center;
}

.Title{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    background: linear-gradient(to bottom, #33ccff 0%, #0099ff 100%);
    text-align: center;
    border: solid white; 
    border-radius: 50%;
    width: 20%;
    height: 40%;
}

section {
    text-align: center;
}
.gameContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 50px auto;
    border: white solid 20px;
}
.cell {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    color: white; 
    font-size: 20px;
    width: 100px;
    height: 100px;
    border: 3px solid white; 
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}

.lastSection{
    padding-top: 30px;
    display: flex;
    justify-content: center;
}
.winScoreContainer{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(to bottom, #33ccff 0%, #0099ff 100%);
    text-align: center;
    border: solid white; 
    border-radius: 50%;
    width: 30%;
    height: 50%;  
}

.restart{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.gameRestart{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    background: linear-gradient(to bottom, #33ccff 0%, #0099ff 100%);
    text-align: center;
    border: solid white; 
    border-radius: 50%;
    width: 100%;
    height: 80%; 
}

.play{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

#play-btn{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    background: linear-gradient(to bottom, #33ccff 0%, #0099ff 100%);
    text-align: center;
    border: solid white; 
    border-radius: 50%;
    width: 100%;
    height: 70%; 
    padding-right: 10px;
    padding-left: 10px;
}

.instruc-btn{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    background: linear-gradient(to bottom, #33ccff 0%, #0099ff 100%);
    text-align: center;
    border: solid white; 
    border-radius: 50%;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.gameStatus{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

